@font-face {
    font-family: 'Alaska VAR';
    src: url("../font/AlaskaVAR-Regular.ttf") format('truetype');
    font-display: wrap;
    font-weight: 700;
}

@font-face {
    font-family: 'Alaska VAR';
    src: url('../font/AlaskaVAR-Regular.ttf') format('truetype');
    font-display: wrap;
    font-weight: 600;
}

@font-face {
    font-family: 'Alaska VAR';
    src: url('../font/AlaskaVAR-Regular.ttf') format('truetype');
    font-display: wrap;
    font-weight: 500;
}

@font-face {
    font-family: 'Alaska VAR';
    src: url('../font/AlaskaVAR-Regular.ttf') format('truetype');
    font-display: wrap;
    font-weight: 400;
}

@font-face {
    font-family: 'Alaska VAR';
    src: url('../font/AlaskaVAR-Regular.ttf') format('truetype');
    font-display: wrap;
    font-weight: 300;
}

@font-face {
    font-family: 'Alaska VAR Italic';
    src: url('../font/AlaskaVAR-RegularItalic.otf') format('opentype');
    font-display: wrap;
    font-style: italic;
    font-weight: 400;
}


body {
    font-family: 'Roboto' !important;
}

.mfp-content {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

#mess {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.alert button {
    margin: 0;
}

.sr-only {
    display: none;
}